*ai_context.txt
.venv
*/.venv
*/setup-docs.md
/BOOKS
Prompts.md
*/flink-1.18.1/
*/flink-checkpoints/
*stateless-mind-recovery/
/styles/core.css
/styles/solutions.css
/styles/exercises.css
GENERATORS/
GeneratingProcess.md
01Foundations/01DataSystemInternals/01ReliabilityAndFaultTolerance/02ReplicationStrategies/solutions/leader-data/
01Foundations/01DataSystemInternals/01ReliabilityAndFaultTolerance/02ReplicationStrategies/solutions/follower-data/
contextualizer.sh
*/contextualizer.sh